ul{
    list-style: none;
    display: inline;
}
li{
    float:right;
    padding:.94rem ;
    font-size: 1.7vw;
}
.name{
    font-size: ;
    clear: both;
    padding-left: 20%;
    font-style: italic;
    font-family: Georgia, Verdana;
    color: white;
}
.container h2{
    font-size: 3vw;
    padding-left: 1em;
    font-family: Georgia, Verdana;
    color: black;
}

.container,
.container{
    padding: 10px;
    margin: auto;
}
.container img{
    padding-bottom: 1.87rem;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
p{
    font-size: 1.7vw;
    font-family: Georgia;
}

